@import "bootstrap";

body {
  padding: 90px;
}

table.table {
  td, th {
    text-align: center;
  }
  th.date, td.date {
    text-align: left;
  }
  td.date {
    font-size: 90%;
  }
}

.centered {
  text-align: center;
}

#dj-counts-view {
  position: relative;
  top: 12px;
  width: 400px;
  .badge {
    float: right;
    margin: 0 2px;
  }
}