!!! 5
%html
  %head{:lang => "en"}
    = stylesheet_link_tag 'dj_mon', :media => 'screen, projection'
    = yield :head

  %body
    %header
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            = link_to "DJ Mon", delayed_jobs_url, class: 'brand'

    .container
      = yield